# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build
bin/
obj/

# NuGet
packages/

# Logs
*.log

# Windows
Thumbs.db
Desktop.ini

# Rider / VS Code
.idea/
.vscode/

# Fichiers temporaires
*.tmp
*.cache

# SimConnect SDK (à installer localement)
FlightCompanion/lib/Microsoft.FlightSimulator.SimConnect.dll

FlightCompanion-v1.0.0/
*.zip